<header class="site-header">
  <nav class="main-nav">
    <a href="/" class="logo">{{ site.title }}</a>
    <ul class="nav-menu">
      <li><a href="/">首页</a></li>
      <li><a href="/docs.html">知识库</a></li>
<!--      <li class="nav-has-dropdown">-->
<!--        <a href="/notes.html">手札</a>-->
<!--        {% if site.data.notes.size > 0 %}-->
<!--        <ul class="nav-dropdown">-->
<!--          {% for note in site.data.notes %}-->
<!--          <li><a href="/notes.html#{{ note.name }}" data-note-url="{{ note.url }}">{{ note.icon }} {{ note.name }}</a></li>-->
<!--          {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--      </li>-->
      <li><a href="/github.html">GitHub</a></li>
      <li><a href="/thoughts.html">碎碎念</a></li>
      <li><a href="/links.html">友链</a></li>
    </ul>
  </nav>
</header>
